# Column Transformer

In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [5]:
df = pd.read_csv('covid_toy.csv')

In [6]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [9]:
## To number of values is null in each column

df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [12]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [13]:
X_train

    age  gender  fever   cough       city
19   42  Female    NaN  Strong  Bangalore
14   51    Male  104.0    Mild  Bangalore
6    14    Male  101.0  Strong  Bangalore
41   82    Male    NaN    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
..  ...     ...    ...     ...        ...
61   81  Female   98.0  Strong     Mumbai
3    31  Female   98.0    Mild    Kolkata
48   66    Male   99.0  Strong  Bangalore
87   47    Male  101.0  Strong  Bangalore
80   14  Female   99.0    Mild     Mumbai

[80 rows x 5 columns]

## 1. Aam Zinagi

In [18]:
# adding simple imputer to fever column
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])
X_train_fever.shape

(80, 1)

In [19]:
# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also for the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [28]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first',sparse_output = False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also test the data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_test_gender_city.shape

(20, 4)

In [26]:
# Extracting the age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

#also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_test_age.shape

(20, 1)

In [29]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis = 1)

# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis = 1)

X_train_transformed.shape

(80, 7)

## Mentos Zindagi

In [30]:
from sklearn.compose import ColumnTransformer

In [32]:
transformer = ColumnTransformer(
    transformers=[
        ('tnf1',SimpleImputer(),['fever']),
        ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
        ('tnf3',OneHotEncoder(sparse_output=False,drop = 'first'),['gender','city'])
    ],remainder='passthrough'
)

In [33]:
transformer.fit_transform(X_train).shape

(80, 7)

In [34]:
transformer.transform(X_test).shape

(20, 7)