In [2]:
print("hello")

hello

### Hello This is test code

# Import the Dataset

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("precios_gasolineras.csv")

In [6]:
df

,id_estacion,fecha,precio_gasoleo_a,precio_gasoleo_premium,precio_gasolina_95,precio_gasolina_98
0,10765,01/01/2022,1.399,1.399,1.519,1.639
1,12054,01/01/2022,1.389,1.389,1.479,1.621
2,13933,01/01/2022,1.249,NaN,1.389,NaN
3,4369,01/01/2022,1.359,1.359,1.479,1.599
4,5195,01/01/2022,1.409,1.409,1.509,1.619
...,...,...,...,...,...,...
47084,13930,31/12/2024,1.429,NaN,1.489,NaN
47085,14287,31/12/2024,1.559,1.559,1.649,1.739
47086,14465,31/12/2024,1.417,NaN,1.489,NaN
47087,14612,31/12/2024,NaN,NaN,NaN,NaN
47088,15547,31/12/2024,1.419,NaN,1.489,NaN